
<!DOCTYPE html>
  <head>
    <title>{{ model.Title }}</title>
  </head>
  <body>
    <ul>
      {% for book in model.Books %}
        <li>{{ book.Name }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
